{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <h1 class="text-center">Page non trouvée :(</h1>
      <p class="text-center">Oups, la page que vous cherhces n'existe plus.</p>
    </article>
  </div>
</div>
{{ end }}
